<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#"><img src="assets/images/logo.svg" alt="Chicago"></a><h2 style="display: inline;">asana</h2>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#" style="font-size: 15px;">Why Asana? <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" style="font-size: 15px;">Solutions</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false" style="font-size: 15px;">
          Resoures
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#" style="font-size: 15px;">Why Asana?</a>
          <a class="dropdown-item" href="#" style="font-size: 15px;">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#" style="font-size: 15px;">Something else here</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link " href="#" style="font-size: 15px;">Pricing</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <img style="margin-right:25px;" src="https://img.icons8.com/windows/32/000000/globe-earth.png">
      <div class="vl"></div>
      <a class="nav-link" href="#" style="color: gray; font-size: 15px;">Contact Sale</a>
      <a class="nav-link" href="#" style="color: gray; font-size: 15px;">Log In</a>
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit"
        style="color: white; background-color: black; font-size: 15px;">Try for free</button>
    </form>
  </div>
</nav>
<div class="row" style="margin: 0px; padding: 0px;">
  <div class="col-md-6" style="margin: 0px; padding: 0px;">
    <h1 style="padding-top: 100px; margin-left: 30px;">Your work manager.<br> But better.</h1>
    <hr style="width: 100px; margin-top: 150px; margin-right: 550px;">
    <h4 style="margin-left: 30px;">From the small stuff to the big picture, Asana<br> organizes everything so teams are
      clear what to do,<br> why their work matters, and how to get it done.</h4><br>
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit"
      style="color: white; background-color: black; margin-left: 30px; font-size: 20px; ">Try for free</button>
  </div>
  <div class="col-md-6" style="margin: 0px; padding: 0px;">
    <img src="assets/images/1.jpg">
  </div>
</div>

<div class="row" style="padding:0px; margin: 0px;">
  <div class="col-md-12">
    <div style="padding-top: 150px;">
      <h3 style="margin-left: 30px;">PROJECT MANAGEMENT</h3>
      <p style="margin-left: 30px; font-size: 50px;">See who’s doing<br> what and when</p>
      <h3 style="margin-left: 30px;">Bring your team’s goals, plans, and responsibilities<br> together in one shared
        space. And view your work<br>
        any way you want.</h3>
    </div>
  </div>
</div>
<div style="padding-top: 230px;">
  <div class="overflow-auto">
    <div>
      <div style="background-color: #eee;
  height: 400px;
  overflow: auto;">
        <div class="row" style="margin: 0;padding: 0; ">
          <div class="col-md-6">
            <img src="assets/images/2.png">
          </div>
          <div class="col-md-6">
            <h1 style="padding-top: 100px; margin-left: 150px;">List view</h1>
            <h2 style="margin-left: 150px; opacity: 0.5;">Organize and assign tasks. With lists, teams see<br>
              immediately
              what
              they need to do, which tasks<br> are a
              priority, and when work is due.</h2>
            <a href="#">
              <h3 style="color: blue; margin-left: 150px;">Try for free</h3>
            </a>
          </div>
          <div class="col-md-6" style="padding-top: 30px;">
            <img src="assets/images/3.gif">
          </div>
          <div class="col-md-6">
            <h1 style="padding-top: 100px; margin-left: 150px;">Timeline</h1>
            <h2 style="margin-left: 150px; opacity: 0.5;">See how work maps out over time. Manage<br> dependent,
              overlapping,
              and unscheduled tasks—<br> and create plans your team can count on.</h2>
            <a href="#">
              <h3 style="color: blue; margin-left: 150px;">Try for free</h3>
            </a>
          </div>
          <div class="col-md-6" style="padding-top: 30px;">
            <img src="assets/images/4.png">
          </div>
          <div class="col-md-6">
            <h1 style="padding-top: 100px; margin-left: 150px;">Boards</h1>
            <h2 style="margin-left: 150px; opacity: 0.5;">Make it easy for your team to focus on tasks<br> currently at
              hand. Define each stage of work to<br> see what’s important and where things are getting<br> stuck.</h2>
            <a href="#">
              <h3 style="color: blue; margin-left: 150px;">Try for free</h3>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div style="padding-top: 230px;">
      <div class="row" style="margin: 0px; padding: 0px; background-color: #001f19;">
        <div class="col-md-12">
          <div style="padding-top: 150px; color: white;">
            <h5 style="margin-left: 30px;">PROCESS MANAGEMENT</h5>
            <p style="margin-left: 30px; font-size: 50px;">Control your <br> workflow</p>
          </div>
          <button class="button button1">PROJECT PLANNING</button>
          <button class="button button1">INTAKE + ROUTE</button>
          <button class="button button1">REVIEW + APPROVE</button><br>
          <div style="padding-top: 30px;">
            <img style="margin-left: 400px;" src="assets/images/5.png">
          </div>
          <hr style="background-color: white;">
          <div class="row">
            <div class="col-md-6">
              <p style="margin-left: 30px; font-size: 18px; color: white;">Free your team to do important work—without
                missing a step.<br>
                From creative production to customer onboarding and more,<br> get the powerful features you need to
                support
                your critical<br> workflows.</p>
            </div>
            <div class="col-md-6">
              <a href="#" style="color: white; float: right; font-size: 20px; ">See Solution --></a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row" style="margin: 0px; padding: 0px;">
      <div class="col-md-6" style="padding-top: 230px;">
        <h5 style="margin-left: 30px;">REPORTING</h5>
        <p style="margin-left: 30px; font-size: 30px;">Get the whole picture.<br> Finally.
        </p>
        <h5 style="margin-left: 30px;">Keep an eye on progress and workloads in<br> real-time. Get the data you need to
          quickly<br> spot potential
          problems, share updates,<br> and keep work on track.
        </h5>
        <hr style="background-color: white;">
        <button class="button button1">ON TRACK</button>
        <button class="button button1">AT RISK</button>
        <button class="button button1">OFF TRACK</button><br>
      </div>
      <div class="col-md-6">
        <img src="assets/images/6.png">
      </div>
    </div>

    <div class="container" style="padding-top: 230px;">
      <h2>Carousel Example</h2>
      <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
          <li data-target="#myCarousel" data-slide-to="1"></li>
          <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
          <div class="item active">
            <div class="row" style="margin: 0px; padding: 0px;">
              <div class="col-md-4">
                <img src="assets/images/7.jpg" alt="Chicago" style="width:100%;">
              </div>
              <div class="col-md-8">
                <h3 style="margin-left: 50px;">Figma</h3>
                <h1 style="padding-top: 130px; margin-left: 50px;">
                  Because Commiunication is centralized saved time
                </h1>
                <h2 style="padding-top: 50px; margin-left: 50px;opacity: 0.7;">James</h2>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="col-md-4">
              <img src="assets/images/8.jpg" alt="Chicago" style="width:100%;">
            </div>
            <div class="col-md-8">
              <h3 style="margin-left: 50px;">Web development</h3>
              <h1 style="padding-top: 130px; margin-left: 50px;">
                My all team member use this platform this platfoem is good
              </h1>
              <h2 style="padding-top: 50px; margin-left: 50px;opacity: 0.7;">Monika</h2>
            </div>
          </div>
          <div class="item">
            <div class="col-md-4">
              <img src="assets/images/9.jpg" alt="Chicago" style="width:100%;">
            </div>
            <div class="col-md-8">
              <h3 style="margin-left: 50px;">Android</h3>
              <h1 style="padding-top: 130px; margin-left: 50px;">
                Great platform
              </h1>
              <h2 style="padding-top: 50px; margin-left: 50px;opacity: 0.7;">Erika</h2>
            </div>
          </div>
        </div>
        <a class="left carousel-control" href="#myCarousel" data-slide="prev">
          <span class="glyphicon glyphicon-chevron-left"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next">
          <span class="glyphicon glyphicon-chevron-right"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>

    <div class="row" style="padding: 0px; margin: 0px;">
      <div class="col-md-12" style="background-color: #151b26;">
        <img src="assets/images/logo.svg" alt="Chicago" style="padding-top: 250px;margin-left: 650px;">
        <p style="padding-top: 50px; font-size: 40px;color: white; margin-left: 350px;">See everything the team’s
          working on</p>
        <p style=" font-size: 40px;color: white; margin-left: 550px;">in one place.</p>
        <button class="button button1" style="background-color: white; color: black; margin-left: 600px;">Try Asana
          Free</button>
        <div class="row" style="padding-top: 100px;">
          <div class="col-md-2" style="margin-left: 150px;">
            <h3 style="color: white; opacity: 0.7; ">Asana</h3>
            <a href="#">
              <h3 style="color: white; padding-top: 30px;">Home</h3>
            </a>
            <a href="#">
              <h3 style="color: white; ">Product</h3>
            </a>
            <a href="#">
              <h3 style="color: white; ">Pricing</h3>
            </a>
            <a href="#">
              <h3 style="color: white; ">Premium</h3>
            </a>
            <a href="#">
              <h3 style="color: white; ">Business</h3>
            </a>
            <a href="#">
              <h3 style="color: white; ">Enterprise</h3>
            </a>
            <a href="#">
              <h3 style="color: white; ">Customer Success</h3>
            </a>
            <a href="#">
              <h3 style="color: white; ">Asana Templates</h3>
            </a>
            <a href="#">
              <h3 style="color: white; ">Trust & Security</h3>
            </a>
            <a href="#">
              <h3 style="color: white; ">Status</h3>
            </a>
          </div>
          <div class="col-md-2">
            <h3 style="color: white; opacity: 0.7;">About Us</h3>
            <a href="#">
              <h3 style="color: white; padding-top: 30px;">Company</h3>
            </a>
            <a href="#">
              <h3 style="color: white; ">Leadership</h3>
            </a>
            <a href="#">
              <h3 style="color: white; ">Customers</h3>
            </a>
            <a href="#">
              <h3 style="color: white; ">Diversity</h3>
            </a>
            <a href="#">
              <h3 style="color: white; ">Careers</h3>
            </a>
            <a href="#">
              <h3 style="color: white; ">Press</h3>
            </a>
            <a href="#">
              <h3 style="color: white; ">Wavelength</h3>
            </a>
            <a href="#">
              <h3 style="color: white; ">Asana Blog</h3>
            </a>
          </div>
          <div class="col-md-2">
            <h3 style="color: white; opacity: 0.7;">Workflow Solutions</h3>
            <a href="#">
              <h3 style="color: white; padding-top: 30px;">Project<br> Management</h3>
            </a>
            <a href="#">
              <h3 style="color: white; ">Goal Management</h3>
            </a>
            <a href="#">
              <h3 style="color: white; ">Agile and Scrum</h3>
            </a>
            <a href="#">
              <h3 style="color: white; ">Task Management</h3>
            </a>
            <a href="#">
              <h3 style="color: white; ">Increase<br> Productivity</h3>
            </a>
            <a href="#">
              <h3 style="color: white; ">Work Management</h3>
            </a>
            <a href="#">
              <h3 style="color: white; ">See All Uses</h3>
            </a>
            <a href="#">
              <h3 style="color: white; ">Project<br> Management</h3>
            </a>
          </div>
          <div class="col-md-2">
            <h3 style="color: white; opacity: 0.7;">Team Solutions</h3>
            <a href="#">
              <h3 style="color: white; padding-top: 30px;">Engineering</h3>
            </a>
            <a href="#">
              <h3 style="color: white; ">Designers</h3>
            </a>
            <a href="#">
              <h3 style="color: white; ">Sales</h3>
            </a>
            <a href="#">
              <h3 style="color: white; ">HR</h3>
            </a>
            <a href="#">
              <h3 style="color: white; ">Marketing</h3>
            </a>
            <a href="#">
              <h3 style="color: white; ">Company-wide</h3>
            </a>
            <a href="#">
              <h3 style="color: white; ">See All Teams</h3>
            </a>
          </div>
          <div class="col-md-2">
            <h3 style="color: white; opacity: 0.7;">Resources</h3>
            <a href="#">
              <h3 style="color: white; padding-top: 30px;">Asana Guide</h3>
            </a>
            <a href="#">
              <h3 style="color: white; ">Forum</h3>
            </a>
            <a href="#">
              <h3 style="color: white; ">Support</h3>
            </a>
            <a href="#">
              <h3 style="color: white; ">Integrations</h3>
            </a>
            <a href="#">
              <h3 style="color: white; ">Developers & API</h3>
            </a>
            <a href="#">
              <h3 style="color: white; ">Partners</h3>
            </a>
            <a href="#">
              <h3 style="color: white; ">Asana Community</h3>
            </a>
            <a href="#">
              <h3 style="color: white; ">Certified Pros</h3>
            </a>
            <a href="#">
              <h3 style="color: white; ">Events</h3>
            </a>
          </div>
        </div>
      </div>

      <div>
      </div>
    </div>
    <div class="row" style="background-color: #222b37;margin: 0; padding: 0;">
      <div class="col-md-12">
        <img style="margin-left:250px;" src="https://img.icons8.com/windows/32/000000/globe-earth.png">
        <h4 style="display: inline; color: white"> English</h4><a href="#">
          <h4 style="display: inline; color: white;margin-left: 100px;">Terms & Privacy</h4><img
            style="margin-left: 80px;" src="https://img.icons8.com/fluent/28/000000/twitter.png" />
            <img src="https://img.icons8.com/fluent/28/000000/facebook-new.png"/>
            <img src="https://img.icons8.com/doodle/28/000000/linkedin--v2.png"/>
            <img style="margin-left: 300px;" src="https://img.icons8.com/color/28/000000/google-play.png"/>
            <img src="https://img.icons8.com/nolan/28/apple-app-store.png"/>
        </a>

      </div>

    </div>