.vl {
    border-left: 1px solid gray;
    height: 25px;
  }
  .button {
    background-color: #386b0e; /* Green */
    border: 1px solid whitesmoke;
    color: white;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 10px;
    margin-left: 30PX;
  }
  .button1:hover {
    background-color: gainsboro;
    color: white;
    
  }
  
  a:hover {
    color: white;
    background-color: transparent;
    text-decoration: underline;
  }